.service_status_content .none_found_panel {

    border-style: solid;
    border-top-width: 1px;
    border-top-color:#c8c8c8;
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;

}